/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 700;
  src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

strong {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
}

h2 {
  margin: 0;
  font-weight: normal;
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 22px;
}

.papertitle {
  font-family: 'Lato', Verdana, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.name {
  padding-top: 20px;
  margin: 0;
  font-family: 'courier', sans-serif;
  font-size: 25px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f4f4f4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center; /* Align header content in the center */
  align-items: center;
  padding: 0 20px;
  height: 50px; /* Fixed height for the header */
}

.header-inner {
  display: flex;
  justify-content: space-between; /* Space between name and nav links */
  align-items: center;
  width: 100%; /* Use full width of the header */
  max-width: 800px; /* Max width same as page content */
}

.header-name img {
  height: 40px; /* Adjust based on your logo's size */
  vertical-align: middle; /* Aligns the logo vertically in the middle of the header */
}

/* If needed, adjust the link to remove underline and other default styles */
.header-name a {
  display: flex;
  align-items: center; /* Centers the logo and text vertically */
  text-decoration: none; /* Removes underline */
}

.header-name span {
  margin-left: 10px; /* Adds space between the logo and text */
  font-size: 24px; /* Adjust based on your design */
  font-weight: bold; /* Makes the name bold */
  color: #000; /* Adjust color as needed */
}

.about-me-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;  /* Ensures space around the content */
}

.about-me-image {
  flex: 1;  /* Takes half the space of the About Me section */
  margin-right: 30px;  /* Provides spacing between image and text */
}

.about-me-text {
  flex: 1;  /* Takes the other half of the space */
}

.image-slider {
  position: relative;
  width: 100%;  /* Full width of its container */
  padding-top: 120%;  /* Adjusted to 4:3 aspect ratio for a taller image */
  overflow: hidden;  /* Hides anything outside this container */
}

.image-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;  /* Full width of its container */
  height: 100%;  /* Full height of its container */
  object-fit: cover;  /* Covers the area, maintains aspect ratio, without distortion */
  opacity: 0;
  border-radius: 20px;  /* Adjust this value to increase or decrease the roundness */
}

.handwriting-quote {
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;  
  margin: 20px;
  padding: 10px;
  text-align: center; 
  color: #555;  
}

/* Keyframes for image rotation with each image visible for 1.5 seconds */
@keyframes imageChange {
  0%, 33.33% { opacity: 1; }
  33.34%, 100% { opacity: 0; }
}

.image-slider img:nth-child(1) {
  animation: imageChange 4.5s -3s infinite;
}
.image-slider img:nth-child(2) {
  animation: imageChange 4.5s -1.5s infinite;
}
.image-slider img:nth-child(3) {
  animation: imageChange 4.5s 0s infinite;
}


@media (max-width: 768px) {
  .about-me-section {
    flex-direction: column;
    align-items: center;
  }

  .about-me-text {
    margin-top: 30px;
    width: 100%;
    margin-right: 0;
  }

  .about-me-image {
    order: -1;  /* This will place the image above the text */
    width: 50%;
  }
}

/* Adjust the font size for smaller devices if necessary */
@media (max-width: 768px) {
  .header-name img {
    height: 30px; /* Adjust logo size */
  }
  .header-name span {
    font-size: 20px; /* Smaller font size for the name */
  }
}

.header-content {
  display: flex;
  justify-content: center; /* Centralize the navigation links */
  align-items: center;
}

.header-content a {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 15px; /* Increased font size for links */
}

.header-content a:hover, .header-content a.active {
  background-color: #ddd;
}

.hamburger {
  display: none; /* Hidden by default */
  position: absolute;
  right: 10px; /* Ensure it does not overlap */
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 768px) {
  .header-content {
    display: none; /* Hide navigation links on smaller screens */
  }
  .hamburger {
    display: block; /* Show the hamburger icon */
  }
}

.sidebar {
  height: 100%;
  width: 0; /* Start out fully collapsed */
  position: fixed;
  z-index: 1001; /* Ensures sidebar is on top of other content */
  top: 0;
  left: 0;
  background-color: #f4f4f4; /* Same as header */
  overflow-x: hidden; /* Prevents any horizontal scroll */
  transition: 0.5s; /* Smooth transition for opening and closing */
  padding-top: 60px; /* Provides some space at the top */
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px; /* Ensures the header does not touch the sides */
  margin-top: 0px;
  font-size: 30px; /* Increased font size for visibility */
  color: black;
}

.closebtn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 26px;
  line-height: 1;
  padding: 0 10px; /* Padding for touch area */
  color: black;
}

.navigation-title {
  padding: 10px 15px;
  font-size: 20px;
  color: black;
  border-bottom: 1px solid black; /* Subtle bottom border */
  margin: 10px 15px 0 15px; /* Ensures border does not touch the sides */
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  transition: 0.3s;
  margin: 0 15px 10px 15px; /* Ensures alignment with the border of 'Navigation' */
  margin-bottom: 30px; /* Spacing between links */
  margin-top: 20px; /* Spacing between links and the border */
}

.sidebar a:hover {
  color: #f09228;
}

/* Ensures the sidebar opens with enough width and transitions properly */
@media (max-width: 768px) {
  .sidebar {
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {  /* Adjusts for tablets and smaller devices */
  .name {
    font-size: 20px;  /* Smaller font size on smaller screens */
  }
}

@media (max-width: 480px) {  /* Adjusts for mobile phones */
  .name {
    font-size: 15px;  /* Even smaller font size for very small screens */
  }
}

.experience-entry {
  display: flex;
  align-items: center; /* Keeps items aligned at their centers */
  justify-content: flex-start;
  margin-bottom: 20px;
  cursor: pointer;
}

.experience-image-container {
  flex: 0 0 auto; /* Image container will not grow or shrink but maintain size */
  width: 160px; /* Static width for the image */
  text-align: center;
  margin-right: 20px; /* Spacing between image and text */
}

.experience-image-container img {
  width: 100%;
  max-width: 160px; /* Ensures the image does not grow beyond this size */
  height: auto;
  opacity: 0.5; /* Default opacity */
  transition: opacity .2s ease-in-out;
}

.experience-description {
  flex-grow: 1; /* Takes the remaining space */
  padding-right: 20px; /* Ensures padding on the right */
}

.experience-entry:hover .experience-image-container img {
  opacity: 1; /* Image becomes fully opaque on hover */
}

@media (max-width: 768px) {
  .experience-entry {
    flex-direction: column;
    align-items: center; /* Center-align items for a neat stacked layout */
  }

  .experience-image-container {
    width: 160px; /* Maintain the width of the image container */
    margin-bottom: 20px; /* Provide margin below after centering the image */
    text-align: center; /* Center-align the image container */
  }

  .experience-description {
    text-align: left; /* Keep text left-aligned on smaller screens */
    width: 100%; /* Allow the description to take full width */
  }
}

.icon-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap; /* Ensures items wrap on smaller screens */
  text-align: center;
  gap: 10px; /* Add space between items */
  padding: 10px; /* Optional padding for better spacing */
}

.icon-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333; /* Adjust color as needed */
  margin: 10px; /* Space between icons */
}

.icon-links i {
  width: 40px; /* Size of the icons */
  height: 40px;
  margin-bottom: 5px; /* Space between icon and text */
  stroke: #333; /* Icon color */
  stroke-width: 2;
}

.icon-links span {
  font-size: 14px; /* Font size for text */
  font-weight: bold; /* Bold text */
}

@media (max-width: 768px) {
  .header-name img {
    height: 30px; /* Smaller size for tablets */
  }
}

@media (max-width: 480px) {
  .header-name img {
    height: 20px; /* Even smaller size for mobile phones */
  }
}


/* Additional CSS to ensure the header does not block content when navigating to anchors */
:target:before {
  content: "";
  display: block;
  height: 70px; /* same height as header */
  margin-top: -70px; /* negative margin to pull up the target content */
  visibility: hidden;
}

